.cardUsers{
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 20vw;
}

.card-text-user{
    height: 5px;
    
}



.users-details-desktop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.users-details-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.user-information{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(201, 222, 230);
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    padding-left: 0.5vw;
}

.btn.btn-info.dropdown-toggle{
    color: #000;
    background-color: rgb(243, 243, 243);
    border-color: #004452;
    width: 400px;
    margin-top: 1vh;
}