
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn-dark{
  background-color: #5f4803;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-position{
  width: 50%;
  height: auto;
  margin-top: 3vh;
}
.logo-galaxy {
  
  margin-left: 89px;
}

.logo-pixel {
  
  margin-left: 101px;
}

.logo-iphone5 {
  
  margin-left: 80px;
}

.logo-iphone6 {
  
  margin-left: 91px;
}

.logo-iphonePlus {
  
  margin-left: 101px;
}

.logo-surface {
  
  margin-left: 130px;
}

.logo-galaxyFold {
  
  margin-left: 61px;
}

.logo-desktop{
  width: 25vh;
  margin-left: 40%;
  height: auto;
}

.languageSelector{
  position:absolute;
  top:0;
  right:0;
  width: 105px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
