#body{
  background-color: rgb(240, 239, 239);
}

.alert-login{
  width: 200px;
  height: 30px;
  font-size: 12px;
  margin:0 auto;
  padding-top: 5px;
}

.form-center-login{
  
  width: 300px;
  height: 320px;
   
  margin-top: -595px;
  margin-left: 450px;

}

.footer-box-register{
  width: 300px;
  height: 45px;
  margin-top: 10px;
  margin-left: 450px;
  padding-top: 10px;
  padding-bottom: 60px;
  margin-left: 20%;
}

.form-center-register{
  width: 300px;
  height: 440px;
  margin-left: 20%;
  margin-top: -2%;
}

.title-group{
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
 
}

.btn-primary{
  width: 200px;
  margin-top: 10px;
  
}

.form-control{
  background-color: rgb(247, 247, 247);
}

.footer-box{
  width: 300px;
  height: 41px;
  margin-top: 10px;
  margin-left: 450px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.text-footer-box{
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 14px;
  margin: 10px;
  text-align: center;

}

.register-footer{
  font-weight: 600;
  font-size: 13px;
  margin-top: -3px;
  margin-left: -5px;
}


.chat-image{
  padding-left: 150.5px;
  padding-top: 100px;
}

.home-login{
  margin-left: 25%;
  margin-top: 7%;
}

.register-text{
  font-size: 18px;
  margin-top: -30px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  text-align: center;
}
